/* Setzt den Hintergrund des gesamten Body-Bereichs auf ein helles Grau */
body {
  background-color: #f8f9fa;
}

/* Stile für den Hauptcontainer */
.container {
  background-color: #f8f9fa; /* Hellgrauer Hintergrund */
  padding: 20px; /* Innenabstand */
  border-radius: 8px; /* Abgerundete Ecken */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefenwirkung */
  overflow-x: auto; /* Horizontales Scrollen bei Bedarf */
}

/* Stile für die Branding-Elemente der Navbar */
.navbar-brand {
  font-weight: bold; /* Fettschrift */
}

/* Setzt den Hintergrund für ungerade Zeilen in gestreiften Tabellen */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(
    0,
    0,
    0,
    0.05
  ); /* Leichtes Grau für bessere Lesbarkeit */
}

/* Stile für Primär-Schaltflächen */
.btn-primary {
  background-color: #007bff; /* Primärfarbe */
  border-color: #007bff; /* Randfarbe */
}

/* Stile für Gefahren-Schaltflächen */
.btn-danger {
  background-color: #dc3545; /* Gefahrenfarbe */
  border-color: #dc3545; /* Randfarbe */
}

.icon {
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon-trash {
  color: red;
  /* Setzen Sie die Farbe für das Löschen-Icon auf rot */
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input, .size-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 21%;
}

.search-input:focus, .size-select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.pagination-button:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #0056b3;
  border-color: #0056b3;
}

.pagination-info {
  margin: 0 10px;
  font-size: 16px;
}
